@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_pointer {
  position: relative;
}

.btn_pointer_left::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.btn_pointer_right::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
}
