@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pointer {
    position: relative;
  }

  .pointer__left {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;

    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .pointer__left--dark {
    border-left: 20px solid rgba(17, 17, 17);
  }

  .pointer__right {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
  }
  .pointer__right--dark {
    border-top: 20px solid rgba(17, 17, 17);
    border-bottom: 20px solid rgba(17, 17, 17);
  }
}
