# editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[**.rs]
indent_size = 4

[*.md]
# double whitespace at end of line
# denotes a line break in Markdown
trim_trailing_whitespace = false
indent_size = 2

[**.json]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true

[.gitignore]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true

[README.md]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true
