[package]
name = "oura"
description = "The tail of Cardano"
version = "1.4.2"
edition = "2021"
repository = "https://github.com/txpipe/oura"
homepage = "https://github.com/txpipe/oura"
documentation = "https://docs.rs/oura"
license = "Apache-2.0"
readme = "README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]


[dependencies]
pallas = "0.10.0"
# pallas = { path = "../pallas/pallas" }
hex = "0.4.3"
net2 = "0.2.37"
bech32 = "0.9.0"
clap = "3.1.18"
log = "0.4.17"
env_logger = "0.9.0"
crossterm = "0.23"
merge = "0.1.0"
config = { version = "0.13.1", default-features = false, features = ["toml"] }
serde = { version = "1.0.137", features = ["derive"] }
serde_json = { version = "1.0.81", features = ["arbitrary_precision"] }
strum = "0.24"
strum_macros = "0.24"
prometheus_exporter = { version = "0.8.4", default-features = false }

# feature logs
file-rotate = { version = "0.6.0", optional = true }

# feature: webhook
reqwest = { version = "0.11", optional = true, features = ["blocking", "json"] }

# feature: kafkasink
kafka = { version = "0.8.0", optional = true }

# feature: elasticsink
elasticsearch = { version = "7.14.0-alpha.1", optional = true }

# feature: fingerprint
murmur3 = { version = "0.5.1", optional = true }

# feature: aws
aws-config = { version = "0.12.0", optional = true }
aws-sdk-sqs = { version = "0.12.0", optional = true }
aws-sdk-lambda = { version = "0.12.0", optional = true }
aws-sdk-s3 = { version = "0.12.0", optional = true }

# features: elasticsearch || aws
tokio = { version = "1.18.2", optional = true, features = ["rt"] }

# required for CI to complete successfully
openssl = { version = "0.10", optional = true, features = ["vendored"] }

# redis support
redis = { version ="0.21.5", optional = true,  features = ["tokio-comp"]}

# features: gcp
cloud-pubsub = { version = "0.8.0", optional = true }
async-recursion = { version = "1.0.0", optional = true }

[features]
default = []
logs = ["file-rotate"]
webhook = ["reqwest"]
kafkasink = ["kafka", "openssl"]
elasticsink = ["elasticsearch", "tokio"]
fingerprint = ["murmur3"]
aws = ["aws-config", "aws-sdk-sqs", "aws-sdk-lambda", "aws-sdk-s3", "tokio"]
redissink = ["redis", "tokio"]
gcp = ["cloud-pubsub", "tokio", "async-recursion"]
