[package]
name = "oura"
description = "The tail of Cardano"
version = "2.0.0-alpha.2"
edition = "2021"
repository = "https://github.com/txpipe/oura"
homepage = "https://github.com/txpipe/oura"
documentation = "https://docs.rs/oura"
license = "Apache-2.0"
readme = "README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]


[dependencies]
pallas = "0.19.0-alpha.1"
# pallas = { path = "../pallas/pallas" }
# pallas = { git = "https://github.com/txpipe/pallas" }

gasket = { version = "^0.4", features = ["derive"] }
# gasket = { path = "../../construkts/gasket-rs/gasket", features = ["derive"] }
# gasket = { git = "https://github.com/construkts/gasket-rs.git", features = ["derive"]  }

utxorpc = { version = "1.0.0-alpha.1" }

hex = "0.4.3"
net2 = "0.2.37"
bech32 = "0.9.1"
clap = { version = "4.2.7", features = ["derive"] }
env_logger = "0.10.0"
crossterm = "0.25"
merge = "0.1.0"
config = { version = "0.13.2", default-features = false, features = [
    "toml",
    "yaml",
    "json",
] }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = { version = "1.0.97", features = ["arbitrary_precision"] }
strum = "0.24"
strum_macros = "0.24"
prometheus_exporter = { version = "0.8.5", default-features = false }
unicode-truncate = "0.2.0"
thiserror = "1.0.39"
indicatif = "0.17.3"
lazy_static = "1.4.0"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
file-rotate = "0.7.4"
tokio = { version = "1", features = ["rt"] }
async-trait = "0.1.68"

# feature: elasticsink
elasticsearch = { version = "8.5.0-alpha.1", optional = true }

# feature: fingerprint
murmur3 = { version = "0.5.2", optional = true }

# features: aws
aws-config = { version = "0.55.3", optional = true }
aws-types = { version = "0.55.3", optional = true }
aws-sdk-s3 = { version = "0.28.0", optional = true }

# required for CI to complete successfully
openssl = { version = "0.10", optional = true, features = ["vendored"] }

# features: gcp
google-cloud-pubsub = { version = "0.12.0", optional = true }
google-cloud-googleapis = { version = "0.8.0", optional = true }

# features: sink-rabbitmq
lapin = { version = "2.2.1", optional = true }

# features: sink-webhook
reqwest = { version = "0.11", features = ["json"], optional = true }

# features: sink-kafka
kafka = { version = "0.9.0", optional = true }

# features: sink-aws-sqs
aws-sdk-sqs = { version = "0.28.0", optional = true }

# features: sink-aws-lambda
aws-sdk-lambda = { version = "0.28.0", optional = true }

# features: sink-redis
r2d2_redis = { version = "0.14.0", optional = true }

# features: deno
deno_core = { version = "0.188.0", optional = true }
deno_runtime = { version = "0.114.0", optional = true }

[features]
default = ["deno"]
deno = ["deno_core", "deno_runtime"]
sink-rabbitmq = ["lapin"]
sink-webhook = ["reqwest"]
sink-kafka = ["kafka"]
sink-aws-sqs = ["aws-config", "aws-types", "aws-sdk-sqs"]
sink-aws-lambda = ["aws-config", "aws-types", "aws-sdk-lambda"]
sink-redis = ["r2d2_redis"]
