[package]
name = "oura"
description = "The tail of Cardano"
version = "0.3.8"
edition = "2021"
repository = "https://github.com/txpipe/oura"
homepage = "https://github.com/txpipe/oura"
documentation = "https://docs.rs/oura/0.1.0/oura/"
license = "Apache-2.0"
readme = "README.md"
authors = [
    "Santiago Carmuega <santiago@carmuega.me>"
]


[dependencies]
pallas = "0.3.5"
# pallas = { path = "../pallas/pallas" }
hex = "0.4.3"
net2 = "0.2.37"
bech32 = "0.8.1"
clap = "3.0.4"
log = "0.4.14"
env_logger = "0.9.0"
crossterm = "0.22"
merge = "0.1.0"
config = { version = "0.11.0", default-features = false, features = ["toml"] }
serde = "1.0.133"
serde_json = "1.0.74"
serde_derive = "1.0.130"
strum = "0.23"
strum_macros = "0.23"

# feature: tuisink
tui = { version = "0.16", optional = true, default-features = false, features = ["crossterm"] }

# feature: kafkasink
kafka = { version = "0.8.0", optional = true }

# feature: elasticsink
elasticsearch = { version = "7.14.0-alpha.1", optional = true }
tokio = { version = "1.15.0", optional = true, features = ["rt"] }

# feature: fingerprint
murmur3 = { version = "0.5.1", optional = true }

# required for CI to complete successfully
openssl = { version = "0.10", optional = true, features = ["vendored"] }
minicbor = "0.12.1"

[features]
default = []
fingerprint = ["murmur3"]
kafkasink = ["kafka", "openssl"]
elasticsink = ["elasticsearch", "tokio"]
tuisink = ["tui"]
